/* Navbar */
.navbar {
    background-color: #fac3d9 !important;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #f0e0e0 !important;
}

/*Buttons */
.btn-primary {
    background-color: #C4848A !important;
    border-color: #fac3d9 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #fac3d9 !important;
    border-color: #b07078 !important;
}

.btn-outline-secondary {
    border-color: #fac3d9 !important;
    color: #fac3d9 !important;
}

.btn-outline-secondary:hover {
    background-color: #fac3d9 !important;
    color: white !important;
}

/*Buttons für die Brustkrebsklassifizierung */
.ergebnis-gutartig {
    background-color: white;
    border-color: #e880a9;
    color: #e880a9;
}

.ergebnis-boesartig {
    background-color: #fadce8;
    border-color: #ed0a3f;
    color: #fffcfd;
}

tr.gutartig td {
    background-color: white !important;
}

tr.boesartig td {
    background-color: #fadce8 !important;
    color: #333 !important;
}